/*portada*/




.blog-container-cover{
    width: 100%;
    height: 500px;
    position: relative;
    margin-top: 80px;
    background-image: url(../img/img3.jpg);
    /*background-position: center;
    background-size: cover;
    background-repeat: no-repeat;*/
}

.blog-container-cover::before{
    content: "";
    width: 100%;
    height: 100%;
    background: rgba(25, 81, 235, 0.76);
    position: absolute;
    top: 0;
    left: 0;
}

.container-info-cover{
    max-width: 800px;
    height: 500px;
    margin: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
}

.container-info-cover h1{
    font-size: 80px;
    font-weight: 900;
    color: #fff;
    margin-bottom: 20px;
}

.container-info-cover p{
    color: #fff;
    font-size: 20px;
    font-weight: 300;
}

/*contenedor de categorias*/

input[type="radio"]{
    display: none;
}


.container-category{
    width: 40%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    margin-top: 5px;
    
}

.container-category label{
    width: 100%;
    text-align: center;
    padding: 6px 40px;
    margin: 10px;
    margin-right: auto;
    margin-left: auto;
    font-size: 20px;
    background: #e2e2e2;
    border-radius: 5px;
    cursor: pointer;
}


/*Post - publicaciones*/

.container-post{
    width: 1200px;
    margin: auto;
}

.posts{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    margin-top: 20px;
    padding: 20px;
}

.posts .post{
    background: #fff;
    box-shadow: 0 0 20px -20px black;
    border-radius: 6px;
    overflow: hidden;
    padding-bottom: 20px;
}

.post .ctn-img{
    width: 100%;

}

.post .ctn-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.post h2{
    font-size: 18px;
    margin-top: 20px;
    padding: 0px 20px;
}

.post span{
    display: block;
    margin-top: 10px;
    padding: 0px 20px;
}

.ctn-tag{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-left: 16px;
    margin-top: 10px;
}

.ctn-tag li{
    list-style: none;
    font-size: 14px;
    margin: 4px;
    padding: 6px 10px;
    background: #e8e8e8;
    cursor: default;
}

.post button{
    margin-top: 20px;
    margin-left: 20px;
    padding: 10px 50px;
    font-size: 16px;
    background: #46a2fd;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}

.post button:hover{
    opacity: 0.9;
}

/*sistema de filtrado*/ 
[value="TODOS"]:checked ~ .posts .post[data-category]{
    display: block !important;
}

[value="sección1"]:checked ~ .posts .post:not([data-category ~="sección1"]),
[value="sección2"]:checked ~ .posts .post:not([data-category ~="sección2"]),
[value="sección3"]:checked ~ .posts .post:not([data-category ~="sección3"]),
[value="sección4"]:checked ~ .posts .post:not([data-category ~="sección4"]),
[value="sección5"]:checked ~ .posts .post:not([data-category ~="sección5"]),
[value="sección6"]:checked ~ .posts .post:not([data-category ~="sección6"]),
[value="sección7"]:checked ~ .posts .post:not([data-category ~="sección7"]),
[value="sección8"]:checked ~ .posts .post:not([data-category ~="sección8"]),
[value="sección9"]:checked ~ .posts .post:not([data-category ~="sección9"]),
[value="sección10"]:checked ~ .posts .post:not([data-category ~="sección10"]),
[value="sección11"]:checked ~ .posts .post:not([data-category ~="sección11"]),
[value="sección12"]:checked ~ .posts .post:not([data-category ~="sección12"]),
[value="sección13"]:checked ~ .posts .post:not([data-category ~="sección13"]),
[value="sección14"]:checked ~ .posts .post:not([data-category ~="sección14"]),
[value="sección15"]:checked ~ .posts .post:not([data-category ~="sección15"]){
    
    display: none !important;
}



[value= "TODOS"]:checked ~ .container-category [for ="TODOS"],    
[value= "sección1"]:checked ~ .container-category [for ="sección1"],
[value= "sección2"]:checked ~ .container-category [for ="sección2"],
[value= "sección3"]:checked ~ .container-category [for ="sección3"],
[value= "sección4"]:checked ~ .container-category [for ="sección4"],
[value= "sección5"]:checked ~ .container-category [for ="sección5"],
[value= "sección6"]:checked ~ .container-category [for ="sección6"],
[value= "sección7"]:checked ~ .container-category [for ="sección7"],
[value= "sección8"]:checked ~ .container-category [for ="sección8"],
[value= "sección9"]:checked ~ .container-category [for ="sección9"],
[value= "sección10"]:checked ~ .container-category [for ="sección10"],
[value= "sección11"]:checked ~ .container-category [for ="sección11"],
[value= "sección12"]:checked ~ .container-category [for ="sección12"],
[value= "sección13"]:checked ~ .container-category [for ="sección13"],
[value= "sección14"]:checked ~ .container-category [for ="sección14"],
[value= "sección15"]:checked ~ .container-category [for ="sección15"]
{
    background: #46a2fd;
    color: #fff;
}

/*responsive design barra de busqueda*/
@media screen and (max-width: 1220px){

    .header-content,
    .container-all,
    .container-footer footer{
        max-width: 1000px;
        padding: 0 20px;
    }
    #ctn-bars-search,
    #move-content,
    #ctn-bars-search input,
    #box-search{
        width: 100%;
    }
}

/*responsive design*/

@media screen and (max-width: 1200px){
    .container-post{
        width: 900px;
    }
    .posts{
        grid-template-columns: repeat(3, 1fr);
    }
 
 }

@media screen and (max-width: 900px){
    .container-post{
        width: 600px;
    }
    .posts{
        grid-template-columns: repeat(2, 1fr);
    }
    .logo{
        right: -50px;
    }
}

@media screen and (max-width: 590px){
    .container-post{
        width: 300px;
    }
    .posts{
        grid-template-columns: repeat(1, 1fr);
    }
}